upstream fastcgi_backend {
    server  php-fpm:9000;
}

server {
    listen 80;
    server_name magento2.test;
    set $MAGE_ROOT /var/www/magento2;
    set $MAGE_MODE developer;

    location ^~ /.well-known/acme-challenge/ {
        default_type "text/plain";
        root /var/www/letsencrypt;
    }

    location = /.well-known/acme-challenge/ {
		    return 404;
	  }

    include /var/www/magento2/nginx.conf.sample;
}
